@model Taxi_Sluzba.Models.Korisnik
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<p>Nesto je poslo po zlu hehe</p>
<br/>
@{ 
    if(Model != null)
    {
        <p>Korisnicko ime '@Model.UserName' je zauzeto. Pokusajte ponovo</p>
        <br />
    }
}
<a href="Index">Nazad</a>