@using Taxi_Sluzba.Models
@{
    ViewBag.Title = "DispecerView";
    Korisnik user = Session["User"] as Korisnik;
}

<h2>DispecerView</h2>
<h4>Pozdrav @user.UserName</h4>
<br />
<p>Vi ste dispecer!</p>

@Html.ActionLink("Moj profil", "ChangeUserData", "Main")
<br />
@Html.ActionLink("Logout", "Logout", "Login")