
@{
    ViewBag.Title = "Index";
}

<h2>Dobrodosli u nasu taksi sluzbu</h2>
<p>Sedi udobno se smjesti</p>
<br />
<p>prevarenih ima svud... Znam to nisu dobre vijesti</p>

<ul>
    <li>@Html.ActionLink("Login", "Index", "Login")</li>
    <li>@Html.ActionLink("Register", "Index", "Register")</li>
</ul>