@model Taxi_Sluzba.Models.Korisnik
@{
    ViewBag.Title = "Welcome";
    //Session["User"] = Model as Taxi_Sluzba.Models.Korisnik;
}

<h2>Welcome, @Model.UserName</h2>

@{ 
    if (Model != null)
    {
        

        //vrati odgovarajuci VIEW u zavisnosti od uloge korisnika    
        switch (Model.Uloga)
        {
            case Taxi_Sluzba.Enums.Uloge.Musterija:
                Response.Redirect(Url.Action("Musterija", "Main"));
                break;
            case Taxi_Sluzba.Enums.Uloge.Vozac:
                Response.Redirect(Url.Action("Vozac", "Main"));
                break;
            case Taxi_Sluzba.Enums.Uloge.Dispecer:
                Response.Redirect(Url.Action("Dispecer", "Main"));
                break;
            default:
                break;
        }
    }
}

